---
interface Props {
  title: string;
  description: string;
  canonical: string;
  image: string;
  pageType?: 'website' | 'article';
  siteName: string;
}

const {
  title,
  description,
  canonical,
  image,
  pageType = 'website',
  siteName,
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content={pageType} />
<meta property="og:url" content={canonical} />
<meta property="og:image" content={image} />
<meta property="og:site_name" content={siteName} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
